<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>LTW_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryControl</display-name>
    <servlet-name>CategoryControl</servlet-name>
    <servlet-class>controller.CategoryControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryControl</servlet-name>
    <url-pattern>/CategoryControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControl</display-name>
    <servlet-name>SearchControl</servlet-name>
    <servlet-class>controller.SearchControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControl</servlet-name>
    <url-pattern>/SearchControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailControl</display-name>
    <servlet-name>DetailControl</servlet-name>
    <servlet-class>controller.DetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailControl</servlet-name>
    <url-pattern>/DetailControl</url-pattern>
  </servlet-mapping>
</web-app>